In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("./data/complete_data.csv")
df.head()

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report,Season
0,1,1.0,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,-,...,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...,Autumn
1,2,2.0,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,2,...,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...,Autumn
2,3,10.0,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,2,...,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...,Autumn
3,4,3.0,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,2,...,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...,Autumn
4,5,7.0,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,4-1/4,...,Sha Tin,1,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",13.59 22.08 23.11 23.55,\n When about to enter the trac...,Autumn

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
 19  src                    30189 non-null  object
 20  race_date              30189 non-null  object
 21  race_course            30189 non-null  object
 22  race_number            30189 non-null  int64
 23  race_class             30189 non-null  object
 24  race_distance          30189 non-null  int64
 25  track_condition        30189 non-null  object
 26  race_name              30189 non-null  object
 27  track                  30189 non-null  object
 28  sectional_time         30189 non-null  object
 29  incident_report        30189 non-null  object
 30  Season                 30189 non-null  object
dtypes: float64(7), int64(2), object(22)
memory usage: 7.1+ MB

In [5]:
df.shape

(30189, 31)

In [6]:
df['finishing_position'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'WV-A', '14', 'WV', '9 DH', '2 DH', 'WX', 'PU', '1 DH',
       '8 DH', 'UR', 'FE', '4 DH', '10 DH', 'TNP', '5 DH', 'DISQ',
       '11 DH', '12 DH', '3 DH', '7 DH', 'WX-A', 'DNF', '6 DH', nan],
      dtype=object)

Numerical Positions

    '1', '2', '3', ..., '14': These represent the finishing positions of horses in the race. For example:
        '1': The horse that won the race.
        '2': The horse that finished second (runner-up).
        '3': The horse that finished third, and so on.

Special Notations

    'DH' (Dead Heat): This indicates that two or more horses finished exactly at the same position, and the judge could not separate them even with advanced photo finish technology.
        '9 DH': Dead heat for 9th position.
        '2 DH': Dead heat for 2nd position, etc.

    'DISQ' (Disqualified): The horse was disqualified from the race due to a rule violation (e.g., interference, jockey misconduct).

    'DNF' (Did Not Finish): The horse started the race but did not complete it, possibly due to injury, jockey fall, or other issues.

    'WX' (Withdrawn): The horse was withdrawn from the race before it started due to reasons such as injury or illness.
        'WX-A': Denotes an alternate or specific type of withdrawal.

    'UR' (Unseated Rider): The jockey fell off the horse during the race, resulting in the horse not being officially placed.

    'PU' (Pulled Up): The horse was pulled up by the jockey before completing the race, often due to safety concerns like fatigue or injury.

Additional Specific Notations

    'WV' (Weight Variation): The horse was scratched (removed from the race) due to a discrepancy in weight during pre-race inspections.
        'WV-A': This could signify an alternative type of weight-related withdrawal.

    'FE' (Failed to Enter): The horse failed to start the race due to a mishap during loading or other reasons.

    'TNP' (Trainer Not Permitted): The horse was scratched because the trainer failed to comply with specific regulations.

Summary of Unique Entries

    Positions with Numbers ('1' to '14'): Normal finishing rankings.
    Positions with 'DH': Dead Heat positions.
    'DISQ', 'DNF', 'WX', 'UR', 'PU', 'FE', 'TNP': Represent non-standard outcomes or reasons why a horse did not finish.

In [7]:
df['finishing_position'].value_counts()

finishing_position
1        2361
2        2354
3        2350
6        2346
5        2341
4        2340
7        2339
8        2329
9        2305
10       2260
11       2186
12       2020
13        995
14        838
WV        461
WV-A      102
4 DH       35
PU         29
UR         26
3 DH       20
5 DH       18
WX         16
6 DH       14
2 DH       14
8 DH       12
1 DH       12
WX-A       10
FE         10
9 DH        8
10 DH       8
7 DH        8
DNF         7
TNP         6
11 DH       4
12 DH       2
DISQ        1
Name: count, dtype: int64

In [9]:
df.isnull().sum()

finishing_position           2
horse_number               338
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner         0
running_position_1         615
running_position_2         629
running_position_3         647
running_position_4       13571
finish_time                  0
win_odds                     0
running_position_5       26425
running_position_6       29640
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
Season                       0
dtype: int64