In [1]:
from xml.etree.ElementInclude import include

import pandas as pd

In [2]:
df = pd.read_csv("./data/complete_data.csv")

In [3]:
new_df = df.copy()

In [4]:
new_df.shape

(30189, 31)

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
 19  src                    30189 non-null  object
 20  race_date              30189 non-null  object
 21  race_course            30189 non-null  object
 22  race_number            30189 non-null  int64
 23  race_class             30189 non-null  object
 24  race_distance          30189 non-null  int64
 25  track_condition        30189 non-null  object
 26  race_name              30189 non-null  object
 27  track                  30189 non-null  object
 28  sectional_time         30189 non-null  object
 29  incident_report        30189 non-null  object
 30  Season                 30189 non-null  object
dtypes: float64(7), int64(2), object(22)
memory usage: 7.1+ MB

In [5]:
new_df.isnull().sum()

finishing_position           2
horse_number               338
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner         0
running_position_1         615
running_position_2         629
running_position_3         647
running_position_4       13571
finish_time                  0
win_odds                     0
running_position_5       26425
running_position_6       29640
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
Season                       0
dtype: int64

In [6]:
new_df[new_df["finishing_position"].isnull()]

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report,Season
11053,NaN,NaN,SILVER BAUHINIA,T044,---,Y S Tsui,-,1138,---,---,...,Happy Valley,5,Class 4,1200,GOOD TO YIELDING,PINE HANDICAP,"TURF - ""A"" COURSE",23.47 22.92 24.77,"\n On arrival at the Start, TRE...",Autumn
17242,NaN,NaN,GREEN CARD,V126,---,J Moore,-,1169,---,---,...,Sha Tin,5,Class 3,1200,GOOD TO FIRM,THE HONG KONG JOCKEY CLUB COMMUNITY TROPHY (HA...,"TURF - ""C+3"" COURSE",23.92 22.68 22.33,"\n WONDERFUL JOURNEY, which was...",Spring

In finishing_position we have some position which are no properly writen ("1 DH", "2 DH", etc.,) we replace them with there real positions and remove those races where horses are not able to complete or participate in the race there are some NaN values also we are going to replace

In [11]:
# Replace "1 DH" to "1", "2 DH" to "2", etc.
new_df['finishing_position'] = new_df['finishing_position'].replace({
    "1 DH": "1", "2 DH": "2", "3 DH": "3", "4 DH": "4",
    "5 DH": "5", "6 DH": "6", "7 DH": "7", "8 DH": "8",
    "9 DH": "9", "10 DH": "10", "11 DH": "11", "12 DH": "12"
})

In [14]:
# Drop rows in column where value is not a number
new_df = new_df[new_df['finishing_position'].isin([str(i) for i in range(1, 13)])].reset_index(drop=True)

In [17]:
new_df.shape

(27686, 31)

There are some empty rows and columns with value "---",'-', We replace them with NAN

In [18]:
new_df.replace("---","NaN",inplace=True)

In [19]:
new_df.replace("-","NaN",inplace=True)

missing values

In [20]:
new_df.columns

Index(['finishing_position', 'horse_number', 'horse_name', 'horse_id',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'length_behind_winner', 'running_position_1', 'running_position_2',
       'running_position_3', 'running_position_4', 'finish_time', 'win_odds',
       'running_position_5', 'running_position_6', 'race_id', 'src',
       'race_date', 'race_course', 'race_number', 'race_class',
       'race_distance', 'track_condition', 'race_name', 'track',
       'sectional_time', 'incident_report', 'Season'],
      dtype='object')

In [23]:
#check missing values again
missing_data_check = new_df.isin(['NaN']) | new_df.isnull()

# Summarize missing values
missing_values_summary = missing_data_check.sum()

In [24]:
print(missing_values_summary)

finishing_position           0
horse_number                 0
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner      2373
running_position_1           0
running_position_2           0
running_position_3           0
running_position_4       12403
finish_time                  0
win_odds                     0
running_position_5       24160
running_position_6       27147
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
Season                       0
dtype: int64

Now we drop some columns which are not important now for this problem.

In [27]:
columns_to_drop = ['horse_number','horse_id','finish_time',
    'length_behind_winner', 'running_position_1', 'running_position_2',
    'running_position_3', 'running_position_4', 'running_position_5',
    'running_position_6', 'race_id', 'src', 'race_number', 'race_date','incident_report',
    'sectional_time']

new_df.drop(columns_to_drop, axis=1, inplace=True)

In [28]:
new_df.columns

Index(['finishing_position', 'horse_name', 'jockey', 'trainer',
       'actual_weight', 'declared_horse_weight', 'draw', 'win_odds',
       'race_course', 'race_class', 'race_distance', 'track_condition',
       'race_name', 'track', 'Season'],
      dtype='object')

In [34]:
new_df.head()

,finishing_position,horse_name,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,race_class,race_distance,track_condition,race_name,track,Season
0,1,DOUBLE DRAGON,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn
1,2,PLAIN BLUE BANNER,D Whyte,D E Ferraris,133,1075,13,8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn
2,3,GOLDWEAVER,Y T Cheng,Y S Tsui,121,1065,3,5.7,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn
3,4,SUPREME PROFIT,J Moreira,C S Shum,132,1222,2,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn
4,5,THE ONLY KID,Z Purton,K W Lui,125,1136,9,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn

In [47]:
new_df.horse_name.value_counts()

horse_name
SWEET BEAN           47
ROCK THE TREE        47
ST YAZIN             46
INDUSTRIALIST WAY    46
VARA PEARL           45
                     ..
LEISURED FEET         1
THE LEGEND            1
LUCKY TIME            1
SHALLUCK              1
LITTLE WIND           1
Name: count, Length: 2112, dtype: int64

In [51]:
new_df.jockey.value_counts()

jockey
J Moreira     1931
K Teetan      1652
Z Purton      1559
D Whyte       1537
N Callan      1497
              ...
B Vorster        1
C Perkins        1
D O'Brien        1
Y Kawada         1
R Curatolo       1
Name: count, Length: 103, dtype: int64

In [52]:
new_df.trainer.value_counts()

trainer
A S Cruz       1629
C H Yip        1572
C Fownes       1569
J Moore        1548
Y S Tsui       1506
               ...
J M Moore         1
W H Tse           1
R Hickmott        1
G Bietolini       1
Ed Walker         1
Name: count, Length: 87, dtype: int64

In [36]:
new_df.race_course.unique()

array(['Sha Tin', 'Happy Valley'], dtype=object)

In [37]:
new_df.race_class.unique()

array(['Class 5', 'Class 2', 'Class 1', 'Class 4', 'Class 3',
       'Hong Kong Group Three', 'Class 4 (Restricted)',
       'Hong Kong Group Two', 'Group Two', 'Group One', 'Restricted Race',
       'Class 4 (Special Condition)', 'Hong Kong Group One',
       'Griffin Race', 'Class 3 (Special Condition)', 'Group Three'],
      dtype=object)

In [38]:
new_df.track_condition.unique()

array(['GOOD TO FIRM', 'WET FAST', 'GOOD', 'GOOD TO YIELDING', 'WET SLOW',
       'FAST', 'YIELDING', 'YIELDING TO SOFT', 'SOFT'], dtype=object)

In [39]:
new_df.race_name.unique()

array(['TIM WA HANDICAP', 'COTTON TREE HANDICAP', 'TIM MEI HANDICAP', ...,
       'CONTINUOUS DEVELOPMENT HANDICAP', 'CHAI WAN ROAD PLATE',
       'MEDIC KINGDOM HANDICAP'], dtype=object)

In [40]:
new_df.track.unique()

array(['TURF - "A" COURSE', 'ALL WEATHER TRACK', 'TURF - "A+3" COURSE',
       'TURF - "B+2" COURSE', 'TURF - "C" COURSE', 'TURF - "C+3" COURSE',
       'TURF - "B" COURSE'], dtype=object)

In [42]:
new_df.Season.unique()

array(['Autumn', 'Winter', 'Spring', 'Summer'], dtype=object)