In [1]:
from xml.etree.ElementInclude import include

import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("./data/complete_data.csv")

In [3]:
new_df = df.copy()

In [4]:
new_df.shape

(30189, 31)

In [5]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30189 entries, 0 to 30188
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   finishing_position     30187 non-null  object
 1   horse_number           29851 non-null  float64
 2   horse_name             30189 non-null  object
 3   horse_id               30189 non-null  object
 4   jockey                 30189 non-null  object
 5   trainer                30189 non-null  object
 6   actual_weight          30189 non-null  object
 7   declared_horse_weight  30189 non-null  object
 8   draw                   30189 non-null  object
 9   length_behind_winner   30189 non-null  object
 10  running_position_1     29574 non-null  float64
 11  running_position_2     29560 non-null  float64
 12  running_position_3     29542 non-null  float64
 13  running_position_4     16618 non-null  float64
 14  finish_time            30189 non-null  object
 15  win_odds               30189 non-null  object
 16  running_position_5     3764 non-null   float64
 17  running_position_6     549 non-null    float64
 18  race_id                30189 non-null  object
 19  src                    30189 non-null  object
 20  race_date              30189 non-null  object
 21  race_course            30189 non-null  object
 22  race_number            30189 non-null  int64
 23  race_class             30189 non-null  object
 24  race_distance          30189 non-null  int64
 25  track_condition        30189 non-null  object
 26  race_name              30189 non-null  object
 27  track                  30189 non-null  object
 28  sectional_time         30189 non-null  object
 29  incident_report        30189 non-null  object
 30  Season                 30189 non-null  object
dtypes: float64(7), int64(2), object(22)
memory usage: 7.1+ MB

In [6]:
new_df.isnull().sum()

finishing_position           2
horse_number               338
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner         0
running_position_1         615
running_position_2         629
running_position_3         647
running_position_4       13571
finish_time                  0
win_odds                     0
running_position_5       26425
running_position_6       29640
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
Season                       0
dtype: int64

In [7]:
new_df[new_df["finishing_position"].isnull()]

,finishing_position,horse_number,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,length_behind_winner,...,race_course,race_number,race_class,race_distance,track_condition,race_name,track,sectional_time,incident_report,Season
11053,NaN,NaN,SILVER BAUHINIA,T044,---,Y S Tsui,-,1138,---,---,...,Happy Valley,5,Class 4,1200,GOOD TO YIELDING,PINE HANDICAP,"TURF - ""A"" COURSE",23.47 22.92 24.77,"\n On arrival at the Start, TRE...",Autumn
17242,NaN,NaN,GREEN CARD,V126,---,J Moore,-,1169,---,---,...,Sha Tin,5,Class 3,1200,GOOD TO FIRM,THE HONG KONG JOCKEY CLUB COMMUNITY TROPHY (HA...,"TURF - ""C+3"" COURSE",23.92 22.68 22.33,"\n WONDERFUL JOURNEY, which was...",Spring

In finishing_position we have some position which are no properly writen ("1 DH", "2 DH", etc.,) we replace them with there real positions and remove those races where horses are not able to complete or participate in the race there are some NaN values also we are going to replace

In [8]:
# Replace "1 DH" to "1", "2 DH" to "2", etc.
new_df['finishing_position'] = new_df['finishing_position'].replace({
    "1 DH": "1", "2 DH": "2", "3 DH": "3", "4 DH": "4",
    "5 DH": "5", "6 DH": "6", "7 DH": "7", "8 DH": "8",
    "9 DH": "9", "10 DH": "10", "11 DH": "11", "12 DH": "12"
})

In [9]:
# Drop rows in column where value is not a number
new_df = new_df[new_df['finishing_position'].isin([str(i) for i in range(1, 13)])].reset_index(drop=True)

In [10]:
new_df.shape

(27686, 31)

There are some empty rows and columns with value "---",'-', We replace them with NAN

In [11]:
new_df.replace("---","NaN",inplace=True)

In [12]:
new_df.replace("-","NaN",inplace=True)

missing values

In [13]:
new_df.columns

Index(['finishing_position', 'horse_number', 'horse_name', 'horse_id',
       'jockey', 'trainer', 'actual_weight', 'declared_horse_weight', 'draw',
       'length_behind_winner', 'running_position_1', 'running_position_2',
       'running_position_3', 'running_position_4', 'finish_time', 'win_odds',
       'running_position_5', 'running_position_6', 'race_id', 'src',
       'race_date', 'race_course', 'race_number', 'race_class',
       'race_distance', 'track_condition', 'race_name', 'track',
       'sectional_time', 'incident_report', 'Season'],
      dtype='object')

In [14]:
#check missing values again
missing_data_check = new_df.isin(['NaN']) | new_df.isnull()

# Summarize missing values
missing_values_summary = missing_data_check.sum()

In [15]:
print(missing_values_summary)

finishing_position           0
horse_number                 0
horse_name                   0
horse_id                     0
jockey                       0
trainer                      0
actual_weight                0
declared_horse_weight        0
draw                         0
length_behind_winner      2373
running_position_1           0
running_position_2           0
running_position_3           0
running_position_4       12403
finish_time                  0
win_odds                     0
running_position_5       24160
running_position_6       27147
race_id                      0
src                          0
race_date                    0
race_course                  0
race_number                  0
race_class                   0
race_distance                0
track_condition              0
race_name                    0
track                        0
sectional_time               0
incident_report              0
Season                       0
dtype: int64

Now we drop some columns which are not important now for this problem.

In [16]:
columns_to_drop = ['horse_number','finish_time',
    'length_behind_winner', 'running_position_1', 'running_position_2',
    'running_position_3', 'running_position_4', 'running_position_5',
    'running_position_6', 'race_id', 'src', 'race_number', 'race_date','incident_report',
    'sectional_time']

new_df.drop(columns_to_drop, axis=1, inplace=True)

In [17]:
new_df.columns

Index(['finishing_position', 'horse_name', 'horse_id', 'jockey', 'trainer',
       'actual_weight', 'declared_horse_weight', 'draw', 'win_odds',
       'race_course', 'race_class', 'race_distance', 'track_condition',
       'race_name', 'track', 'Season'],
      dtype='object')

In [18]:
print("Number of Horses", new_df.horse_name.nunique())
print("Number of Horses_id", new_df.horse_id.nunique())
print("Number of jockeys", new_df.jockey.nunique())
print("Number of trainer", new_df.trainer.nunique())

Number of Horses 2112
Number of Horses_id 2112
Number of jockeys 103
Number of trainer 87

In [19]:
new_df.finishing_position.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

In [21]:
import numpy as np
# Add a column named recent_6_runs to the dataframe, which records the recent ranks of the horse in each entry.
# The ranks are separated by “/”, and a record is like 1/2/6/3/4/7.    This column concatenates the last 6 (or fewer) finishing positions of the horse for each row, separated by /.

# Add a column named recent_ave_rank for each entry to the dataframe,
# This column calculates the average of the recent finishing positions (up to the last 6 races) for each horse.

new_df['recent_6_runs'] = '0'
new_df['recent_ave_rank'] = np.nan

for i in range(len(new_df['finishing_position'])):

    # temp will just give a list of all the finishing positions of that particular horse
    temp = new_df[ : (i + 1)][new_df.horse_id == new_df.horse_id[i]][['finishing_position']]

    # we convert temp into a list, in reverse order, with the last race in front
    temp = temp['finishing_position'].values.tolist()[::-1]

    # we then take the first 6 elements of the list, and join them with a '/'
    new_df['recent_6_runs'][i] = '/'.join(temp[:6])

    # if list is not empty, then we convert string to float and take the average to get the recent_ave_rank
    if len(temp) != 0:
        temp_int = map(int,temp)
        temp_ave = np.mean(list(temp_int))
        new_df['recent_ave_rank'][i] = temp_ave

In [22]:
new_df

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,race_class,race_distance,track_condition,race_name,track,Season,recent_6_runs,recent_ave_rank
0,1,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,1,1.000000
1,2,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,2,2.000000
2,3,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,5.7,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,3,3.000000
3,4,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,4,4.000000
4,5,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,5,5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27681,8,WORLD RECORD,V040,C Murray,A T Millard,127,1073,4,8.4,Sha Tin,Class 3,1400,GOOD TO YIELDING,MR AWARD HANDICAP,"TURF - ""C"" COURSE",Summer,8/3/4/3/1/11,5.294118
27682,9,INTREPIC,A139,M F Poon,D J Hall,116,993,2,4,Sha Tin,Class 3,1400,GOOD TO YIELDING,MR AWARD HANDICAP,"TURF - ""C"" COURSE",Summer,9/1/2/12/6,6.000000
27683,10,HIGH AND MIGHTY,S362,D Whyte,W Y So,119,1132,11,7.2,Sha Tin,Class 3,1400,GOOD TO YIELDING,MR AWARD HANDICAP,"TURF - ""C"" COURSE",Summer,10/5/3/9/8/9,6.333333
27684,11,DOUBLE VALENTINE,A163,B Prebble,A S Cruz,127,1085,13,41,Sha Tin,Class 3,1400,GOOD TO YIELDING,MR AWARD HANDICAP,"TURF - ""C"" COURSE",Summer,11/8/11,10.000000
27685,12,THE JOY OF GIVING,A249,W M Lai,C W Chang,122,1026,9,99,Sha Tin,Class 3,1400,GOOD TO YIELDING,MR AWARD HANDICAP,"TURF - ""C"" COURSE",Summer,12/12/10,11.333333

In [31]:
#for jocket we add jockey_avg_rank
def cal_ave_rank(new_df):
    new_df['jockey_ave_rank'] = "7"
    jockeys = new_df['jockey'].unique()
    for i in range(len(jockeys)):
        temp = new_df[new_df.jockey == jockeys[i]][['finishing_position']]
        temp = temp['finishing_position'].values.tolist()
        if len(temp) != 0:
            temp_int = map(int, temp)
            temp_ave = np.mean(list(temp_int))
            new_df['jockey_ave_rank'][new_df.jockey == jockeys[i]] = temp_ave
    return df

In [33]:
new_df.head()

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,race_class,race_distance,track_condition,race_name,track,Season,recent_6_runs,recent_ave_rank,jockey_ave_rank
0,1,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,1,1.0,5.825348
1,2,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,2,2.0,5.720234
2,3,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,5.7,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,3,3.0,7.340625
3,4,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,4,4.0,4.073019
4,5,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,5,5.0,4.934573

In [36]:
new_df[new_df['horse_name']=="DOUBLE DRAGON"]

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,race_class,race_distance,track_condition,race_name,track,Season,recent_6_runs,recent_ave_rank,jockey_ave_rank
0,1,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,1,1.000000,5.825348
482,7,DOUBLE DRAGON,K019,N Callan,D Cruz,122,1024,12,7.4,Sha Tin,Class 4,1400,GOOD TO FIRM,SHEK PIK HANDICAP,"TURF - ""C"" COURSE",Autumn,7/1,4.000000,6.0668
1624,4,DOUBLE DRAGON,K019,M Chadwick,D Cruz,120,1030,5,14,Sha Tin,Class 4,1200,GOOD,ELIZABETH ARDEN HANDICAP,"TURF - ""C+3"" COURSE",Autumn,4/7/1,4.000000,6.859956
2074,4,DOUBLE DRAGON,K019,K C Leung,D Cruz,118,1032,8,41,Sha Tin,Class 4,1200,GOOD TO FIRM,LION ROCK HANDICAP,"TURF - ""B+2"" COURSE",Autumn,4/4/7/1,4.000000,6.729087
2966,10,DOUBLE DRAGON,K019,C Y Lui,D Cruz,111,1045,6,33,Sha Tin,Class 4,1400,GOOD TO FIRM,KAM TSIN HANDICAP,"TURF - ""A+3"" COURSE",Winter,10/4/4/7/1,5.200000,6.958904
6198,3,DOUBLE DRAGON,K019,D Lane,D Cruz,120,1028,7,37,Sha Tin,Class 4,1400,GOOD,JIANGUOMEN HANDICAP,"TURF - ""C"" COURSE",Spring,3/10/4/4/7/1,4.833333,7.433735
7043,12,DOUBLE DRAGON,K019,W M Lai,D Cruz,117,1018,6,31,Sha Tin,Class 4,1400,GOOD TO FIRM,THE SWAINE CUP (HANDICAP),"TURF - ""B+2"" COURSE",Spring,12/3/10/4/4/7,5.857143,8.396104
7248,3,DOUBLE DRAGON,K019,C Y Ho,D Cruz,118,1022,12,28,Sha Tin,Class 4,1400,GOOD,CHAMOMILE HANDICAP,"TURF - ""C"" COURSE",Spring,3/12/3/10/4/4,5.500000,7.032351
7711,12,DOUBLE DRAGON,K019,C Y Lui,D Cruz,111,1012,1,23,Sha Tin,Class 4,1400,GOOD TO FIRM,MIGHTY HIGH HANDICAP,"TURF - ""A"" COURSE",Spring,12/3/12/3/10/4,6.222222,6.958904
8101,3,DOUBLE DRAGON,K019,B Prebble,D Cruz,132,1009,11,8.2,Sha Tin,Class 5,1400,GOOD TO FIRM,IWC HANDICAP,"TURF - ""B+2"" COURSE",Summer,3/12/3/12/3/10,5.900000,5.825348
9079,12,DOUBLE DRAGON,K019,K C Leung,D Cruz,113,1022,8,29,Sha Tin,Class 4,1400,GOOD TO FIRM,MIRACULOUS HANDICAP,"TURF - ""B+2"" COURSE",Summer,12/3/12/3/12/3,6.454545,6.729087

Now working on race_course, track_condition, track and Season

In [38]:
print("Number of race_course", new_df.race_course.nunique())
print("Number of track_condition", new_df.track_condition.nunique())
print("Number of track", new_df.track.nunique())
print("Number of season", new_df.Season.nunique())

Number of race_course 2
Number of track_condition 9
Number of track 7
Number of season 4

In [45]:
print(new_df.race_course.value_counts())
print(new_df.track.value_counts())
print(new_df.Season.value_counts())

race_course
Sha Tin         17637
Happy Valley    10049
Name: count, dtype: int64
track
TURF - "A" COURSE      6105
TURF - "C" COURSE      5190
TURF - "C+3" COURSE    4722
TURF - "B" COURSE      3564
ALL WEATHER TRACK      3368
TURF - "B+2" COURSE    2413
TURF - "A+3" COURSE    2324
Name: count, dtype: int64
Season
Spring    8383
Winter    7853
Autumn    7573
Summer    3877
Name: count, dtype: int64

In [47]:
# Create mappings for unique numbers
race_course_mapping = {
    'Sha Tin': 0,
    'Happy Valley': 1
}

track_mapping = {
    'TURF - "A" COURSE': 1,
    'TURF - "C" COURSE': 2,
    'TURF - "C+3" COURSE': 3,
    'TURF - "B" COURSE': 4,
    'ALL WEATHER TRACK': 5,
    'TURF - "B+2" COURSE': 6,
    'TURF - "A+3" COURSE': 7
}

season_mapping = {
    'Spring': 1,
    'Winter': 2,
    'Autumn': 3,
    'Summer': 4
}

# Apply the mappings to create unique number columns
new_df['race_course_id'] = new_df['race_course'].map(race_course_mapping)
new_df['track_id'] = new_df['track'].map(track_mapping)
new_df['season_id'] = new_df['Season'].map(season_mapping)

In [43]:
# Create a mapping for unique numbers
track_condition_mapping = {
    'GOOD': 1,
    'GOOD TO FIRM': 2,
    'GOOD TO YIELDING': 3,
    'YIELDING': 4,
    'WET SLOW': 5,
    'FAST': 6,
    'WET FAST': 7,
    'YIELDING TO SOFT': 8,
    'SOFT': 9
}

# Assign unique numbers using the mapping
new_df['track_condition_id'] = new_df['track_condition'].map(track_condition_mapping)


# Display the DataFrame

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,race_class,race_distance,track_condition,race_name,track,Season,recent_6_runs,recent_ave_rank,jockey_ave_rank,track_condition_id
0,1,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,1,1.0,5.825348,2
1,2,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,8,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,2,2.0,5.720234,2
2,3,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,5.7,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,3,3.0,7.340625,2
3,4,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,4,4.0,4.073019,2
4,5,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,6.1,Sha Tin,Class 5,1400,GOOD TO FIRM,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,5,5.0,4.934573,2

In [48]:
new_df.head()

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,...,race_name,track,Season,recent_6_runs,recent_ave_rank,jockey_ave_rank,track_condition_id,race_course_id,track_id,season_id
0,1,DOUBLE DRAGON,K019,B Prebble,D Cruz,133,1032,1,3.8,Sha Tin,...,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,1,1.0,5.825348,2,0,1,3
1,2,PLAIN BLUE BANNER,S070,D Whyte,D E Ferraris,133,1075,13,8,Sha Tin,...,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,2,2.0,5.720234,2,0,1,3
2,3,GOLDWEAVER,P072,Y T Cheng,Y S Tsui,121,1065,3,5.7,Sha Tin,...,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,3,3.0,7.340625,2,0,1,3
3,4,SUPREME PROFIT,P230,J Moreira,C S Shum,132,1222,2,6.1,Sha Tin,...,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,4,4.0,4.073019,2,0,1,3
4,5,THE ONLY KID,H173,Z Purton,K W Lui,125,1136,9,6.1,Sha Tin,...,TIM WA HANDICAP,"TURF - ""A"" COURSE",Autumn,5,5.0,4.934573,2,0,1,3

In [49]:
from sklearn.utils import shuffle
# Shuffle the dataset
shuffled_df = shuffle(new_df, random_state=42).reset_index(drop=True)

In [50]:
shuffled_df.head()

,finishing_position,horse_name,horse_id,jockey,trainer,actual_weight,declared_horse_weight,draw,win_odds,race_course,...,race_name,track,Season,recent_6_runs,recent_ave_rank,jockey_ave_rank,track_condition_id,race_course_id,track_id,season_id
0,10,LOTUS STRIKES BACK,T145,B Prebble,T P Yung,123,1048,12,36,Happy Valley,...,CASSIA HANDICAP,"TURF - ""C"" COURSE",Autumn,10/6/7,7.666667,5.825348,1,1,2,3
1,9,FANTASTIC KAKA,P363,H W Lai,L Ho,113,1124,4,92,Sha Tin,...,THE SA SA LADIES' PURSE (HANDICAP),"TURF - ""C+3"" COURSE",Autumn,9/12/3/3/1/8,6.875000,7.404528,1,0,3,3
2,9,ROUGE ET BLANC,S353,Z Purton,C S Shum,127,1195,1,2.9,Sha Tin,...,KAM TSIN HANDICAP,"TURF - ""C"" COURSE",Winter,9/3/11/4/3/3,5.214286,4.934573,1,0,2,2
3,1,YOU READ MY MIND,P041,N Callan,D Cruz,124,1226,2,5.2,Happy Valley,...,PERFECT PARTNER HANDICAP,"TURF - ""A"" COURSE",Summer,1/4/2/2/6/6,4.181818,6.0668,2,1,1,4
4,4,SUPERIOR BOY,V102,O Doleuze,C W Chang,129,1152,2,2.9,Sha Tin,...,CENTURION RESTAURANT HANDICAP,"TURF - ""A"" COURSE",Summer,4/3/6/2/3/4,3.666667,6.394839,2,0,1,4

In [54]:
from sklearn.model_selection import StratifiedShuffleSplit

# Define the stratified shuffle split
split = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=42)

# Perform the split
for train_index, test_index in split.split(shuffled_df, shuffled_df['finishing_position']):
    train_stratified = shuffled_df.iloc[train_index]
    test_stratified = shuffled_df.iloc[test_index]

# Check the sizes of the splits
print("Stratified Split:")
print(f"Training Size: {len(train_stratified)}, Testing Size: {len(test_stratified)}")

# Verify the distribution of the target variable in each set
print("\nOriginal Distribution:")
print(shuffled_df['finishing_position'].value_counts())

print("\nTraining Set Distribution:")
print(train_stratified['finishing_position'].value_counts())

print("\nTesting Set Distribution:")
print(test_stratified['finishing_position'].value_counts())

Stratified Split:
Training Size: 22148, Testing Size: 5538

Original Distribution:
finishing_position
4     2375
1     2373
3     2370
2     2368
6     2360
5     2359
7     2347
8     2341
9     2313
10    2268
11    2190
12    2022
Name: count, dtype: int64

Training Set Distribution:
finishing_position
4     1900
1     1898
3     1896
2     1894
6     1888
5     1887
7     1878
8     1873
9     1850
10    1814
11    1752
12    1618
Name: count, dtype: int64

Testing Set Distribution:
finishing_position
1     475
4     475
2     474
3     474
5     472
6     472
7     469
8     468
9     463
10    454
11    438
12    404
Name: count, dtype: int64

In [57]:
train_stratified.to_csv('./data/train.csv', index=False)
test_stratified.to_csv('./data/test.csv', index=False)